{% extends 'registration/base.html' %}

{% load staticfiles crispy_forms_tags i18n %}

{% block content %}
    <div>
        <div class="kt-login__head">
            <h3 class="kt-login__title">{% trans "Password reset completed" %}.</h3>
        </div>
        <div class="kt-section__content">
            {% trans "Your password has been set. Now you can go ahead and log in." %}
        </div>
        <div class="col kt-align-center">
            <a href="{% url 'users:signin' %}" id="kt_login_forgot" class="kt-login__link">{% trans "Sign In" %}</a>
        </div>
    </div>
{% endblock content %}